<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div id="userheader">
	<%= link_to "Profile", user_path(current_user) %>
	<%= link_to "Settings", edit_user_path(current_user) %>
	<%= link_to "Boats", boats_path(current_user) %>
	<a href="/logout">Logout</a>
</div>

<h1> Welcome to Zorg Logisitics, <%= current_user.username %>!</h1>
